:root {
  --main-color: rgb(235, 183, 14);
  --active-color: rgba(229, 91, 94, .9);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {  
  min-height: 100vh;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url('./images/SpaceBattle.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  width: 400px;
  font-size: 50px;
  color: var(--main-color);
  background: rgba(0, 0, 0, .4);
  padding: 70px 0px;
  margin: 0px;
  text-align: center;
  border-radius: 50px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.73);
  border: 2px black dotted;
}

.start {
  position: relative;
  font-size: 16px;
  padding: 10px, 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  border: 2px black dotted;
  outline: none;
}
.start:active {
  position: relative;
  font-size: 16px;
  padding: 10px, 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--active-color);;
  border: 2px black dotted;
  outline: none;
}
.reset {
  position: relative;
  font-size: 16px;
  padding: 10px, 20px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  border: 2px black dotted;
  outline: none;
}

.reset:active {
  position: relative;
  font-size: 16px;
  padding: 10px, 20px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--active-color);
  outline: none;
}